body {
    margin: 0;
    font-family: 'Inter';

}

@font-face {
    font-family: 'Inter';
    src: url(material/Inter.ttf);

}

.grey-paragraph {
    color: #7f7f7f;
    font-size: 15px;
}

.andra-rubrik {
    font-size: 36px;
    font-weight: 650;
    color: #050505;
}

.under-rubrik {
    font-size: 26px;
    font-weight: 650;
    color: #050505;
}


/* Header */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #f4f4f4;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    background-color: white;
}

.logo img {
    height: 20px;
}

.menu {
    display: flex;
    gap: 10px;
    justify-content: space-around;
    align-items: center;
}

.menu-item {
    position: relative;
    cursor: pointer;
    color: black;
    padding: 10px 15px;
    text-align: center;

}

.menu-item:hover {
    background-color: #f4f4f4;
    border-radius: 3px;
}

.dropdown-content {

    position: absolute;
    background-color: white;
    min-width: 250px;

    display: none;
}

.menu-item:hover .dropdown-content {
    display: block;
    opacity: 1;
}

.dropdown-item {
    display: flex;
    align-items: center;
    padding: 2px 10px;
}

.dropdown-logo {
    height: 20px;
    width: 20px;
    margin-right: 10px;
    border: 1px solid #ddd;
    padding: 3px;
}

.dropdown-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.dropdown-title {
    margin-bottom: 3px;
    margin-top: 3px;
    font-size: 13;
}

.dropdown-description {
    color: gray;
    font-size: 12px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.dropdown-item:hover {
    background-color: #f4f4f4;
    margin: 3px;
    border-radius: 3px;
}

.right-menu {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-left: auto;
}

.hamburger {
    width: 20px;
    display: none;
}

.right-item {
    cursor: pointer;
}

.box {
    background-color: #050505;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
}

.box:hover {
    background-color: #c5c4c4;
}


/* Header */

/* Main */

main {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#section-1 {
    display: flex;
    align-items: center;
    margin-top: 100px;
    justify-content: space-between;

}

.text-1 {
    max-width: 50%;

}

.text-1 h1 {
    font-weight: 650;
    font-size: 45px;
    margin-bottom: 0;

}

.text-1 p {
    margin-top: 0;
    margin-bottom: 30px;
}


.tres {
    width: 100%;
}

#section-2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1px;
    margin: 90px 0;
    border-bottom: 1px solid #f4f4f4;
    border-top: 1px solid #f4f4f4;
}

#section-2 img {
    height: 20px;
    margin: 30px;

}

#section-3 {
    margin: 75px 0;
    border-bottom: solid 1px #e5e5e5;
}

#section-3 .paragraph {
    width: 49%;
    margin: 38px 0;
}

.paragraph p {
    margin-top: 7px;
}

#section-3 .hund-bild {
    width: 100%;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.2);
}

#section-3 h2 {
    margin-bottom: 0;
}

#section-3 h3 {
    color: gray;
    text-align: center;
    font-size: 36px;
    font-weight: 650;
}

.logo-text {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 70px;
}

.work-name {
    color: #050505;
    font-size: 14;
    font-weight: 450;
}

.work-title {
    color: #7f7f7f;
    font-size: 12;
    font-weight: 450;
}

.logo-text img {
    width: 50px;

}

.logo-text p {
    margin: 0;
}

#section-4 {
    border-bottom: 1px solid #f4f4f4;
    margin-left: auto;
    margin-right: auto;

}

#section-4,
.grey-paragraph {
    margin-bottom: 30px;
}

.text-top {
    text-align: center;
    margin-bottom: 50px;
}

.grey-text {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px;
    border-bottom: 1px solid #e5e5e5;
}

.grey-text img {
    width: 20px;
    height: 20px;
}

.grey-text-box {
    margin-top: 20px;
    padding: 20px;
    background-color: #f4f4f4;
    width: 70%;
    margin: 0 auto 90px auto;
}

.grey-text p {
    margin: 0;
    color: #666666;
    font-size: 15px;
}

#section-5 {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 70px;
}

.p-links {
    text-decoration: underline;
}

.container {
    display: flex;
}

#section-6 h1 {
    text-align: center;
}

.statistic h1 {
    text-align: center;
    color: #666666;
    font-size: 53px;
    margin: 0;
    padding-right: 50px;
}

#section-6 p {
    margin: 0;
    padding-right: 50px;
}

.procent-border {
    border-right: #7f7f7f 1px solid;
}

.badges-box {
    display: flex;
}

.badges-box img {
    width: 100%;
}

.statistic {
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
    margin-bottom: 80px;
}


#section-7 {
    text-align: center;
    margin-bottom: 150px;
}

#section-7 p {
    margin-bottom: 30px;
}



/* Main */

/* Footer */

footer {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    border-top: 1px solid #e5e5e5;
}

#section-8 {
    display: flex;
    justify-content: space-between;
    color: #7f7f7f;
    font-size: 13px;

}

.brand-logo {
    height: 30px;
    margin-right: auto;
}

.logo-row img {
    height: 20px;
}

.information-links {
    display: flex;
    margin-right: 60px;
    margin-top: 38px;
}

.column-1 {
    margin-left: 60px;
}

.logo-column {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.footer-text {
    margin-top: 70px;
}

#svart-text {
    color: #050505;
    font-size: 15px;
}



/* Footer */

@media(max-width: 600px) {
    /* Header */

    .menu-item {
        display: none;
    }

    .right-item {
        display: none;
    }

    .hamburger {
        display: block;
    }
}